{% extends 'base.html.twig' %}

{% block title %}M-Pesa - BuuPass Payments!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; font: 18px/1.5 sans-serif; }
    body { background: url('https://news.callapr.co.ke/wp-content/uploads/2019/05/BuuPass-696x583.png'); background-position: center; background-size: cover; }
</style>

<div class="example-wrapper"></div>
{% endblock %}
